{
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "flowtype",
    "prettier",
    "react",
    "jsx-a11y",
    "import",
    "flow"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "Map",
          "List"
        ]
      }
    ],
    "no-underscore-dangle":0,
    "no-console": 1,
    "arrow-parens": 0,
    "import/no-extraneous-dependencies": 0,
    "no-plusplus":0,
    "class-methods-use-this": 0,
    "react/prefer-stateless-function": 0,
    "no-unused-vars": 0,
    "prefer-destructuring": 0,
    "react/no-unused-state": 0,
    "react/prop-types": 0,
    "prefer-template": 0,
    "array-callback-return":"warn"
  }
}