.title{
    font-size: 1.2em;
    color: black;
    font-weight: bolder;
    text-align: center;
}

.cam{
    width: 130px;
    height: 120px;
}

.desc{
    margin: 1em;
    padding: 1em;
}

.price{
    font-style: oblique;
    color: blue;
}

.caja{
    width: 30em;
    height: 23em;
    border: 0.3em ridge blue;
}